<h2>Tableau de bord</h2>

<!-- Boutons spécifiques à l'employé -->
<button *ngIf="typeCompte === 'employe'" routerLink="/offres-actuelles">Offres d'emploi</button>
<button *ngIf="typeCompte === 'employe'" routerLink="/offres-acceptees">Offres acceptées</button>
<button *ngIf="typeCompte === 'employe'" routerLink="/messages">Messages</button>

<!-- Boutons spécifiques à l'employeur -->
<button *ngIf="typeCompte === 'employeur'" routerLink="/mes-jobs">Mes jobs</button>
<button *ngIf="typeCompte === 'employeur'" routerLink="/candidatures">Candidatures</button>
